.form {
  & > fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  & &__row {
    margin-bottom: 1.25rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & &__label {
    display: inline-block;
    margin-bottom: 0.25rem;
    cursor: pointer;
    text-align: start;
  }

  & &__input,
  & &__textarea {
    display: block;
    width: 100%;
    max-width: 31.25rem; /* 500/16 */
    margin: 0;
    padding: 0.5rem 0.75rem;
    background-color: var(--color-primary-dark);
    border: 0;
    border-radius: 2px;
    color: var(--color-font-primary);
    font-family: var(--font-sans);

    &[type="number"] {
      max-width: 4.5rem; /* 72/16 */
    }
  }

  & &__input {
    &--display {
      color: var(--color-font-accent-alt);
      font-family: var(--font-monospace);
      font-weight: 400;
      cursor: pointer;
      transition: color 250ms ease;
      font-size: 1.25rem;

      &:focus {
        cursor: text;
      }

      &-loading {
        color: var(--color-primary-dark);
      }
    }
  }

  & &__button {
    background-color: var(--color-primary-light);
    color: var(--color-font-primary);
    border: 0;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    font-size: 1rem;
    transition:
      background-color 300ms ease,
      transform 300ms ease;

    &:hover {
      background-color: var(--color-primary-lighter);
    }

    &__hit {
      transform: rotate(-360deg);
    }
  }

  /* checkboxes & checkbox lists */
  & &__checklist {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li {
      position: relative;
      margin-bottom: 0.5rem;

      & .form__label {
        position: relative;
        z-index: 2;
        margin: 0;
        padding: 0.1rem 0 0 2.25rem;
        min-height: 1.75rem;
        transition: color 300ms ease;

        &:hover {
          color: var(--color-font-accent-alt);
        }
      }
    }
  }

  & &__checkbox {
    display: none;

    & + .form__checkmark {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      height: 1.75rem;
      width: 1.75rem;
      background-color: var(--color-primary-dark);
      border: 5px solid var(--color-primary-dark);
      border-radius: 3px;
      transition: background-color 300ms ease;
    }

    &:checked {
      & + .form__checkmark {
        background-color: var(--color-primary-light);
      }
    }
  }
}
